ansible==5.0.1
ansible-core==2.12.1
ansible-lint==4.3.7
cffi==1.15.0
colorama==0.4.4
commonmark==0.9.1
cryptography==36.0.0
Jinja2==3.0.3
MarkupSafe==2.0.1
packaging==21.3
pycparser==2.21
Pygments==2.10.0
pyparsing==3.0.6
PyYAML==6.0
resolvelib==0.5.4
rich==10.15.2
ruamel.yaml==0.17.17
ruamel.yaml.clib==0.2.6
