---

- name: Download and install calicoctl 
  become: true
  get_url:
    url: "https://github.com/projectcalico/calico/releases/download/{{ calicoctl_version }}/calicoctl-linux-{{ calicoctl_host_architecture }}"
    dest: /usr/local/bin/calicoctl
    force: true
    mode: "+rx"
